html
	head
		include ./templates/head
	body
		.cover
			h1
				| Национальная сборная
				.highlight-blue &nbsp;России&nbsp;
				|
				.highlight-red по хоккею
			p 2018—2008
		
		.container
			hr.mb-m
			.l-row.year(id="2018")
				h2.year.mb-m 2018, ОИ в Пхёнчхане 
					span.gold &#10102;
			.l-row.mb-m
				.l-col 
					h3 Состав
					.team.mb-m
						.roster
							.role
								.small Тренерский штаб
							| Олег Знарок, Харис Витолиньш, Игорь Никитин, Рашид Давыдов, Алексей Жамнов, Илья Воробьев
						.roster
							.role
								.small Голкиперы
							| Василий Кошечкин, Илья Сорокин, Игорь Шестеркин
							.role
								.small Защитники
							| Артем Зуб, Владислав Гавриков, Вячеслав Войнов, Андрей Зубарев, Егор Яковлев, Алексей Марченко, Богдан Киселевич, Никита Нестеров
						.roster 
							.role
								.small Нападающие
							| Иван Телегин, Сергей Мозякин, Сергей Андронов, Павел Дацюк (к), Сергей Калинин, Михаил Григоренко, Илья Каблуков, Сергей Широков, Илья Ковальчук, Николай Прохоркин, Кирилл Капризов, Вадим Шипачев, Александр Барабанов, Никита Гусев
					h3.mb-s Результаты игр	
					.game.mb-s
						.date 14.02
						.match
							span.small.flag-icon.flag-icon-sk
							| &nbsp;
							span Словакия
							| &nbsp;—&nbsp;
							span.small.flag-icon.flag-icon-ru
							| &nbsp;
							span Россия
						.score
							| 3:
							.defeat 2
						.goals
							.player Гавриков
							.time &nbsp;(2', 0:1),
							.player Капризов
							.time &nbsp;(4', 0:2)
					.game.mb-s
						.date 16.02
						.match 
							span.small.flag-icon.flag-icon-ru
							| &nbsp;
							span Россия
							| &nbsp;—&nbsp;
							span.small.flag-icon.flag-icon-si
							| &nbsp;
							span Словения
						.score
							.victory 8
							| :2
						.goals
							.player Мозякин
							.time &nbsp;(18', 1:0 Б),
							.player Ковальчук
							.time &nbsp;(18', 2:0),
							.player Барабанов
							.time &nbsp;(26', 3:0 Б),
							.player Каблуков
							.time &nbsp;(28', 4:0),
							.player Капризов
							.time &nbsp;(30', 5:0),
							.player Ковальчук
							.time &nbsp;(37', 6:1),
							.player Капризов
							.time &nbsp;(41', 7:1),
							.player Капризов
							.time &nbsp;(47', 8:1)
					.game.mb-s
						.date 17.02
						.match
							span.small.flag-icon.flag-icon-ru
							| &nbsp;
							span Россия
							| &nbsp;—&nbsp;
							span.small.flag-icon.flag-icon-us
							| &nbsp;
							span США
						.score
							.victory 4
							| :0
						.goals
							.player Прохоркин
							.time &nbsp;(7', 1:0),
							.player Прохоркин
							.time &nbsp;(22', 2:0),
							.player Ковальчук
							.time &nbsp;(39', 3:0),
							.player Ковальчук
							.time &nbsp;(40', 4:0)
					.game.mb-s
						.date 21.02, 1/4
						.match
							span.small.flag-icon.flag-icon-ru
							| &nbsp;
							span Россия
							| &nbsp;—&nbsp;
							span.small.flag-icon.flag-icon-no
							| &nbsp;
							span Норвегия
						.score
							.victory 6
							| :1
						.goals
							.player Григоренко
							.time &nbsp;(8', 1:0),
							.player Гусев
							.time &nbsp;(13', 2:0 Б),
							.player Войнов
							.time &nbsp;(19', 3:0),
							.player Калинин
							.time &nbsp;(28', 4:1),
							.player Нестеров
							.time &nbsp;(33', 5:1),
							.player Телегин
							.time &nbsp;(53', 6:1)
					.game.mb-s
						.date 23.02, 1/2
						.match
							span.small.flag-icon.flag-icon-cz
							| &nbsp;
							span Чехия
							| &nbsp;—&nbsp;
							span.small.flag-icon.flag-icon-ru
							| &nbsp;
							span Россия
						.score
							| 0:
							.victory 3
						.goals
							.player Гусев
							.time &nbsp;(27', 0:1),
							.player Гавриков
							.time &nbsp;(28', 0:2),
							.player Ковальчук
							.time &nbsp;(59', 0:3)
					.game
						.date 25.02, финал
						.match
							span.small.flag-icon.flag-icon-ru
							| &nbsp;
							span Россия
							| &nbsp;—&nbsp;
							span.small.flag-icon.flag-icon-de
							| &nbsp;
							span Германия
						.score
							.victory 4
							| :3 (ОТ)
						.goals
							.player Войнов
							.time &nbsp;(19', 1:0),
							.player Гусев
							.time &nbsp;(53', 2:1),
							.player Гусев
							.time &nbsp;(59', 3:3 М),
							.player Капризов
							.time &nbsp;(69',4:3)
			hr.mb-m
			.l-row.year(id="2017")
				h2.year.mb-m 2017, ЧМ в Кельне и Париже, 
					span.bronze &#10104;
			.l-row.mb-m
				.l-col 
					h3 Состав
					.team.mb-m
						.roster
							.role
								.small Тренерский штаб
							| Олег Знарок, Харис Витолиньш, Игорь Никитин, Рашид Давыдов,  Илья Воробьев
						.roster
							.role
								.small Голкиперы
							|  Андрей Василевский, Игорь Шестеркин, Илья Сорокин, 
							.role
								.small Защитники
							| Артем Зуб, Владислав Гавриков, Виктор Антипин, Иван Проворов, Богдан Киселевич, Антон Белов, Дмитрий Орлов, Андрей Миронов
						.roster 
							.role
								.small Нападающие
							| Иван Телегин, Сергей Мозякин, Сергей Андронов, Сергей Плотников, Александр Барабанов, Валерий Ничушкин, Евгений Дадонов, Владимир Ткачев, Артемий Панарин, Никита Кучеров, Вадим Шипачев, Владислав Наместников, Евгений Кузнецов, Никита Гусев
					h3.mb-s Результаты игр	
					.game.mb-s
						.date 05.05
						.match
							span.small.flag-icon.flag-icon-se
							| &nbsp;
							span Швеция
							| &nbsp;—&nbsp;
							span.small.flag-icon.flag-icon-ru
							| &nbsp;
							span Россия
						.score
							| 1:
							.victory 2
							| &nbsp;(Б)
						.goals
							.player Андронов
							.time &nbsp;(43', 1:1),
							.player Панарин
							.time &nbsp;(65', 1:2)
					.game.mb-s
						.date 07.05
						.match
							span.small.flag-icon.flag-icon-it
							| &nbsp;
							span Италия
							| &nbsp;—&nbsp;
							span.small.flag-icon.flag-icon-ru
							| &nbsp;
							span Россия
						.score
							| 1:
							.victory 10
						.goals
							
					.game.mb-s
						.date 08.05
						.match
							span.small.flag-icon.flag-icon-de
							| &nbsp;
							span Германия
							| &nbsp;—&nbsp;
							span.small.flag-icon.flag-icon-ru
							| &nbsp;
							span Россия
						.score
							| 3:
							.victory 6
						.goals
							
					.game.mb-s
						.date 11.05
						.match
							span.small.flag-icon.flag-icon-ru
							| &nbsp;
							span Россия
							| &nbsp;—&nbsp;
							span.small.flag-icon.flag-icon-dk
							| &nbsp;
							span Дания
						.score
							.victory 3
							| :0
						.goals
							
					.game.mb-s
						.date 13.05
						.match
							span.small.flag-icon.flag-icon-ru
							| &nbsp;
							span Россия
							| &nbsp;—&nbsp;
							span.small.flag-icon.flag-icon-sk
							| &nbsp;
							span Словакия
						.score
							.victory 3
							| :0
						.goals
							
					.game.mb-s
						.date 15.05
						.match
							span.small.flag-icon.flag-icon-ru
							| &nbsp;
							span Россия
							| &nbsp;—&nbsp;
							span.small.flag-icon.flag-icon-lv
							| &nbsp;
							span Латвия
						.score
							.victory 6
							| :0
						.goals
							
					.game.mb-s
						.date 16.05
						.match
							span.small.flag-icon.flag-icon-ru
							| &nbsp;
							span Россия
							| &nbsp;—&nbsp;
							span.small.flag-icon.flag-icon-us
							| &nbsp;
							span США
						.score
							.defeat 3
							| :5
						.goals
							
					.game.mb-s
						.date 18.05, 1/4
						.match
							span.small.flag-icon.flag-icon-ru
							| &nbsp;
							span Россия
							| &nbsp;—&nbsp;
							span.small.flag-icon.flag-icon-cz
							| &nbsp;
							span Чехия
						.score
							.victory 6
							| :0
						.goals
							
					.game.mb-s
						.date 20.05, 1/2
						.match
							span.small.flag-icon.flag-icon-se
							| &nbsp;
							span Канада
							| &nbsp;—&nbsp;
							span.small.flag-icon.flag-icon-ru
							| &nbsp;
							span Россия
						.score
							| 4:
							.defeat 2
						.goals
							
					.game.mb-s
						.date 21.05, 3&nbsp;место
						.match
							span.small.flag-icon.flag-icon-ru
							| &nbsp;
							span Россия
							| &nbsp;—&nbsp;
							span.small.flag-icon.flag-icon-cz
							| &nbsp;
							span Финляндия
						.score
							.victory 5
							| :3
						.goals
			hr.mb-m
			.l-row.year(id="2016")
				h2.year.mb-m 2016, ЧМ в Москве и Санкт-Петербурге 
					span.bronze &#10104;
			.l-row.mb-m
				.l-col 
					h3 Состав
					.team.mb-m
						.roster
							.role
								.small Тренерский штаб
							| Олег Знарок, Харис Витолиньш, Игорь Никитин, Рашид Давыдов,  Илья Воробьев
						.roster
							.role
								.small Голкиперы
							|  Игорь Шестеркин, Илья Сорокин, Cергей Бобровский
							.role
								.small Защитники
							| Виктор Антипин, Никита Зайцев, Вячеслав Войнов, Алексей Марченко, Максим Чудинов, Алексей Емелин, Антон Белов, Дмитрий Орлов
						.roster 
							.role
								.small Нападающие
							| Иван Телегин, Александр Овечкин, Сергей Мозякин, Павел Дацюк, Сергей Плотников, Роман Любимов, Артемий Панарин, Степан Санников, Сергей Калинин, Сергей Широков, Евгений Дадонов, Вадим Шипачев, Евгений Кузнецов, Александр Бурмистров
					h3.mb-s Результаты игр	
					.game.mb-s
						.date 06.05
						.match
							span.small.flag-icon.flag-icon-cz
							| &nbsp;
							span Чехия
							| &nbsp;—&nbsp;
							span.small.flag-icon.flag-icon-ru
							| &nbsp;
							span Россия
						.score
							| 3:
							.defeat 0
						.goals

					.game.mb-s
						.date 08.05
						.match
							span.small.flag-icon.flag-icon-kz
							| &nbsp;
							span Казахстан
							| &nbsp;—&nbsp;
							span.small.flag-icon.flag-icon-ru
							| &nbsp;
							span Россия
						.score
							| 4:
							.victory 6
						.goals
							
					.game.mb-s
						.date 09.05
						.match
							span.small.flag-icon.flag-icon-lv
							| &nbsp;
							span Латвия
							| &nbsp;—&nbsp;
							span.small.flag-icon.flag-icon-ru
							| &nbsp;
							span Россия
						.score
							| 0:
							.victory 4
						.goals
							
					.game.mb-s
						.date 12.05
						.match
							span.small.flag-icon.flag-icon-ru
							| &nbsp;
							span Россия
							| &nbsp;—&nbsp;
							span.small.flag-icon.flag-icon-dk
							| &nbsp;
							span Дания
						.score
							.victory 10
							| :1
						.goals
							
					.game.mb-s
						.date 14.05
						.match
							span.small.flag-icon.flag-icon-ru
							| &nbsp;
							span Россия
							| &nbsp;—&nbsp;
							span.small.flag-icon.flag-icon-ch
							| &nbsp;
							span Швейцария
						.score
							.victory 5
							| :1
						.goals
							
					.game.mb-s
						.date 16.05
						.match
							span.small.flag-icon.flag-icon-ru
							| &nbsp;
							span Россия
							| &nbsp;—&nbsp;
							span.small.flag-icon.flag-icon-no
							| &nbsp;
							span Норвегия
						.score
							.victory 3
							| :0
						.goals
							
					.game.mb-s
						.date 17.05
						.match
							span.small.flag-icon.flag-icon-ru
							| &nbsp;
							span Россия
							| &nbsp;—&nbsp;
							span.small.flag-icon.flag-icon-se
							| &nbsp;
							span Швеция
						.score
							.victory 4
							| :1
						.goals
							
					.game.mb-s
						.date 19.05, 1/4
						.match
							span.small.flag-icon.flag-icon-ru
							| &nbsp;
							span Россия
							| &nbsp;—&nbsp;
							span.small.flag-icon.flag-icon-de
							| &nbsp;
							span Германия
						.score
							.victory 4
							| :1
						.goals
							
					.game.mb-s
						.date 21.05, 1/2
						.match
							span.small.flag-icon.flag-icon-se
							| &nbsp;
							span Финляндия
							| &nbsp;—&nbsp;
							span.small.flag-icon.flag-icon-ru
							| &nbsp;
							span Россия
						.score
							| 3:
							.defeat 1
						.goals
							
					.game.mb-s
						.date 22.05, 3&nbsp;место
						.match
							span.small.flag-icon.flag-icon-ru
							| &nbsp;
							span Россия
							| &nbsp;—&nbsp;
							span.small.flag-icon.flag-icon-us
							| &nbsp;
							span США
						.score
							.victory 7
							| :2
						.goals
			hr.mb-m
			.l-row.year(id="2015")
				h2.year.mb-m 2015, ЧМ в Праге и Остраве 
					span.silver &#10103;
			.l-row.mb-m
				.l-col 
					h3 Состав
					.team.mb-m
						.roster
							.role
								.small Тренерский штаб
							| Олег Знарок, Харис Витолиньш
						.roster
							.role
								.small Голкиперы
							|  Константин Барулин, Антон Худобин, Сергей Бобровский
							.role
								.small Защитники
							| Дмитрий Куликов, Егор Яковлев, Евгений Бирюков, Максим Чудинов, Антон Белов, Евгений Медведев, Виктор Антипин, Андрей Миронов
						.roster 
							.role
								.small Нападающие
							| Александр Овчекин, Артемий Панарин, Сергей Мозякин, Евгений Малкин, Виктор Тихонов, Сергей Плотников, Данис Зарипов, Николай Кулемин, Артем Анисимов, Сергей Широков, Евгений Дадонов, Илья Ковальчук, Вадим Шипачев
					h3.mb-s Результаты игр	
					.game.mb-s
						.date 01.05
						.match
							span.small.flag-icon.flag-icon-ru
							| &nbsp;
							span Россия
							| &nbsp;—&nbsp;
							span.small.flag-icon.flag-icon-no
							| &nbsp;
							span Норвегия
						.score
							.victory 6
							| :2
						.goals

					.game.mb-s
						.date 03.05
						.match
							span.small.flag-icon.flag-icon-ru
							| &nbsp;
							span Россия
							| &nbsp;—&nbsp;
							span.small.flag-icon.flag-icon-si
							| &nbsp;
							span Словения
						.score
							.victory 5
							| :3
						.goals
							
					.game.mb-s
						.date 04.05
						.match
							span.small.flag-icon.flag-icon-ru
							| &nbsp;
							span Россия
							| &nbsp;—&nbsp;
							span.small.flag-icon.flag-icon-us
							| &nbsp;
							span США
						.score
							.defeat 2
							| :4
						.goals
							
					.game.mb-s
						.date 6.05
						.match
							span.small.flag-icon.flag-icon-ru
							| &nbsp;
							span Россия
							| &nbsp;—&nbsp;
							span.small.flag-icon.flag-icon-dk
							| &nbsp;
							span Дания
						.score
							.victory 5
							| :1
						.goals
							
					.game.mb-s
						.date 9.05
						.match
							span.small.flag-icon.flag-icon-by
							| &nbsp;
							span Белоруссия
							| &nbsp;—&nbsp;
							span.small.flag-icon.flag-icon-ru
							| &nbsp;
							span Россия
						.score
							| 0:
							.victory 7
						.goals
							
					.game.mb-s
						.date 10.05
						.match
							span.small.flag-icon.flag-icon-sk
							| &nbsp;
							span Словакия
							| &nbsp;—&nbsp;
							span.small.flag-icon.flag-icon-ru
							| &nbsp;
							span Россия
						.score
							| 2:
							.victory 3
						.goals
							
					.game.mb-s
						.date 12.05
						.match
							span.small.flag-icon.flag-icon-fi
							| &nbsp;
							span Финляндия
							| &nbsp;—&nbsp;
							span.small.flag-icon.flag-icon-ru
							| &nbsp;
							span Россия
						.score
							| 3:
							.defeat 2
						.goals
							
					.game.mb-s
						.date 14.05, 1/4
						.match
							span.small.flag-icon.flag-icon-se
							| &nbsp;
							span Швеция
							| &nbsp;—&nbsp;
							span.small.flag-icon.flag-icon-ru
							| &nbsp;
							span Россия
						.score
							| 3:
							.victory 5
						.goals
							
					.game.mb-s
						.date 16.05, 1/2
						.match
							span.small.flag-icon.flag-icon-us
							| &nbsp;
							span США
							| &nbsp;—&nbsp;
							span.small.flag-icon.flag-icon-ru
							| &nbsp;
							span Россия
						.score
							| 0:
							.victory 4
						.goals
							
					.game.mb-s
						.date 17.05, финал
						.match
							span.small.flag-icon.flag-icon-ca
							| &nbsp;
							span Канада
							| &nbsp;—&nbsp;
							span.small.flag-icon.flag-icon-ru
							| &nbsp;
							span Россия
						.score
							| 6:
							.defeat 1
						.goals
			hr.mb-m
			.l-row.year(id="2014")
				h2.year.mb-m 2014, ОИ в Сочи &#10116;
			hr.mb-m
			.l-row.year
				h2.year.mb-m 2014, ЧМ в Минске  
					span.gold &#10102;
			hr.mb-m
			.l-row.year(id="2013")
				h2.year.mb-m 2013, ЧМ в Стокгольме и Хельсинки &#10117;  
			hr.mb-m
			.l-row.year(id="2012")
				h2.year.mb-m 2012, ЧМ в Хельсенки и Стокгольме 
					span.gold &#10102; 
			hr.mb-m
			.l-row.year(id="2011")
				h2.year.mb-m 2011, ЧМ в Братиславе &#10115;
			hr.mb-m
			.l-row.year(id="2010")
				h2.year.mb-m 2010, ОИ в Ванкувере &#10117;
			hr.mb-m
			.l-row.year
				h2.year.mb-m 2010, ЧМ в Кельне 
					span.silver &#10103;
			hr.mb-m
			.l-row.year(id="2009")
				h2.year.mb-m 2009, ЧМ в Берне 
					span.gold &#10102;
			.l-col 
					h3 Состав
					.team.mb-m
						.roster
							.role
								.small Тренерский штаб
							| Вячеслав Быков, Игорь Захаркин, 
						.roster
							.role
								.small Голкиперы
							|  Александр Еременко, Илья Брызгалов, Василий Кошечкин
							.role
								.small Защитники
							| Виталий Вишневский, Илья Никулин, Антон Волченков, Дмитрий Калинин, Константин Корнеев, Виталий Атюшов, Денис Гребешков, Виталий Прошкин, Олег Твердовский
						.roster 
							.role
								.small Нападающие
							| Сергей Мозякин, Николай Жердев, Александр Пережогин, Антон Курьянов,  Константин Горовиков, Алексей Терещенко, Александр Фролов, Данис Зарипов, Сергей Зиновьев, Александр Радулов, Илья Ковальчик, Олег Сапрыкин, Алексей Морозов
					h3.mb-s Результаты игр	
					.game.mb-s
						.date 24.04
						.match
							span.small.flag-icon.flag-icon-de
							| &nbsp;
							span Германия
							| &nbsp;—&nbsp;
							span.small.flag-icon.flag-icon-ru
							| &nbsp;
							span Россия
						.score
							| 0:
							.victory 5
						.goals
							
					.game.mb-s
						.date 26.04
						.match
							span.small.flag-icon.flag-icon-ru
							| &nbsp;
							span Россия
							| &nbsp;—&nbsp;
							span.small.flag-icon.flag-icon-fr
							| &nbsp;
							span Франция
						.score
							.victory 7
							| :2
						.goals
							
					.game.mb-s
						.date 28.04
						.match
							span.small.flag-icon.flag-icon-ru
							| &nbsp;
							span Россия
							| &nbsp;—&nbsp;
							span.small.flag-icon.flag-icon-ch
							| &nbsp;
							span Щвейцария
						.score
							.victory 4
							| :2
						.goals
							
					.game.mb-s
						.date 30.04
						.match
							span.small.flag-icon.flag-icon-ru
							| &nbsp;
							span Россия
							| &nbsp;—&nbsp;
							span.small.flag-icon.flag-icon-se
							| &nbsp;
							span Швеция
						.score
							.victory 6
							| :5
						.goals
							
					.game.mb-s
						.date 2.05
						.match
							span.small.flag-icon.flag-icon-ru
							| &nbsp;
							span Россия
							| &nbsp;—&nbsp;
							span.small.flag-icon.flag-icon-us
							| &nbsp;
							span США
						.score
							.victory 4
							| :1
						.goals
							
					.game.mb-s
						.date 3.05
						.match
							span.small.flag-icon.flag-icon-lv
							| &nbsp;
							span Латвия
							| &nbsp;—&nbsp;
							span.small.flag-icon.flag-icon-ru
							| &nbsp;
							span Россия
						.score
							| 1:
							.victory 6
						.goals
							
					.game.mb-s
						.date 6.05, 1/4
						.match
							span.small.flag-icon.flag-icon-ru
							| &nbsp;
							span Россия
							| &nbsp;—&nbsp;
							span.small.flag-icon.flag-icon-by
							| &nbsp;
							span Белоруссия
						.score
							.victory 4
							| :3
						.goals
							
					.game.mb-s
						.date 8.05, 1/2
						.match
							span.small.flag-icon.flag-icon-ru
							| &nbsp;
							span Россия
							| &nbsp;—&nbsp;
							span.small.flag-icon.flag-icon-us
							| &nbsp;
							span США
						.score
							.victory 3
							| :2
						.goals
							
					.game.mb-s
						.date 10.05, финал
						.match
							span.small.flag-icon.flag-icon-ru
							| &nbsp;
							span Россия
							| &nbsp;—&nbsp;
							span.small.flag-icon.flag-icon-ca
							| &nbsp;
							span Канада
						.score
							.victory 2
							| :1
						.goals
			hr.mb-m
			.l-row.year(id="2008")
				h2.year.mb-m 2008, ЧМ в Квебеке 
					span.gold &#10102;
			.l-row.mb-m
				.l-col 
					h3 Состав
					.team.mb-m
						.roster
							.role
								.small Тренерский штаб
							| Вячеслав Быков, Игорь Захаркин, 
						.roster
							.role
								.small Голкиперы
							|  Михаил Бирюков, Александр Еременко, Евгений Набоков
							.role
								.small Защитники
							| Денис Гребешков, Дмитрий Калинин, Константин Корнеев, Андрей Марков, Даниил Марков, Илья Никулин, Виталий Прошкин, Федор Тютин, Дмитрий Воробьев
						.roster 
							.role
								.small Нападающие
							| Максим Афиногенов, Сергей Федоров, Константин Горовиков, Илья Ковальчук, Алексей Морозов, Сергей Мозякин, Александр Овечкин, Александр Радулов, Александр Семин, Максим Сушинский, Алексей Терещенко, Данис Зарипов, Сергей Зиновьев
					h3.mb-s Результаты игр	
					.game.mb-s
						.date 02.05
						.match
							span.small.flag-icon.flag-icon-ru
							| &nbsp;
							span Россия
							| &nbsp;—&nbsp;
							span.small.flag-icon.flag-icon-it
							| &nbsp;
							span Италия
						.score
							.victory 7
							| :1
						.goals
							
					.game.mb-s
						.date 04.05
						.match
							span.small.flag-icon.flag-icon-us
							| &nbsp;
							span США
							| &nbsp;—&nbsp;
							span.small.flag-icon.flag-icon-ru
							| &nbsp;
							span Россия
						.score
							| 4:
							.victory 5
						.goals
							
					.game.mb-s
						.date 6.05
						.match
							span.small.flag-icon.flag-icon-ru
							| &nbsp;
							span Россия
							| &nbsp;—&nbsp;
							span.small.flag-icon.flag-icon-dk
							| &nbsp;
							span Дания
						.score
							.victory 4
							| :1
						.goals
							
					.game.mb-s
						.date 9.05
						.match
							span.small.flag-icon.flag-icon-ru
							| &nbsp;
							span Россия
							| &nbsp;—&nbsp;
							span.small.flag-icon.flag-icon-by
							| &nbsp;
							span Белоруссия
						.score
							.victory 4
							| :3
						.goals
							
					.game.mb-s
						.date 10.05
						.match
							span.small.flag-icon.flag-icon-ru
							| &nbsp;
							span Россия
							| &nbsp;—&nbsp;
							span.small.flag-icon.flag-icon-se
							| &nbsp;
							span Швеция
						.score
							.victory 3
							| :2
						.goals
							
					.game.mb-s
						.date 12.05
						.match
							span.small.flag-icon.flag-icon-ch
							| &nbsp;
							span Швейцария
							| &nbsp;—&nbsp;
							span.small.flag-icon.flag-icon-ru
							| &nbsp;
							span Россия
						.score
							| 3:
							.victory 5
						.goals
							
					.game.mb-s
						.date 14.05, 1/4
						.match
							span.small.flag-icon.flag-icon-ru
							| &nbsp;
							span Россия
							| &nbsp;—&nbsp;
							span.small.flag-icon.flag-icon-ch
							| &nbsp;
							span Швейцария
						.score
							.victory 6
							| :0
						.goals
							
					.game.mb-s
						.date 16.05, 1/2
						.match
							span.small.flag-icon.flag-icon-ru
							| &nbsp;
							span Россия
							| &nbsp;—&nbsp;
							span.small.flag-icon.flag-icon-fi
							| &nbsp;
							span Финляндия
						.score
							.victory 4
							| :0
						.goals
							
					.game.mb-s
						.date 18.05, финал
						.match
							span.small.flag-icon.flag-icon-ca
							| &nbsp;
							span Канада
							| &nbsp;—&nbsp;
							span.small.flag-icon.flag-icon-ru
							| &nbsp;
							span Россия
						.score
							| 4:
							.victory 5
						.goals
		hr.mb-xl
		hr.mb-xl
		hr.mb-xl
		.menu.js-menu-fixed
				ul.years-list
					li
						a(href="#2018") 2018 &#10112;
					li
						a(href="#2017") 2017 &#10114;
					li
						a(href="#2016") 2016 &#10114;
					li
						a(href="#2015") 2015 &#10113;
					li
						a(href="#2014") 2014 &#10116; &#10112;
					li
						a(href="#2013") 2013 &#10117;
					li
						a(href="#2012") 2012 &#10112;
					li
						a(href="#2011") 2011 &#10115;
					li
						a(href="#2010") 2010 &#10117; &#10113;
					li
						a(href="#2009") 2009 &#10112;
					li
						a(href="#2008") 2008 &#10112;