html
	head
		include ./templates/head
	body
		.cover
			h1
				| Национальная сборная
				.highlight-blue &nbsp;России&nbsp;
				|
				.highlight-red по хоккею
			p 2018—2008
		.container
			hr.mb-m
			.menu.js-menu-fixed
				hr.bold.mb-s
				ul.years-list
					li
						a(href="#2018") 2018
					li
						a(href="#2017") 2017
					li
						a(href="#2016") 2016
					li
						a(href="#2015") 2015
					li
						a(href="#2014") 2014
					li
						a(href="#2013") 2013
					li
						a(href="#2012") 2012
					li
						a(href="#2011") 2011
					li
						a(href="#2010") 2010
					li
						a(href="#2009") 2009
					li
						a(href="#2008") 2008
				
			.l-row.year(id="2018")
				h2.year.mb-m 2018, Олимпийские игры в Пхёнчхане
			.l-row.mb-m
				.l-col 
					h3 Состав
					.team.mb-m
						.roster
							.role
								.small Тренерский штаб
							| Олег Знарок, Харис Витолиньш, Игорь Никитин, Рашид Давыдов, Алексей Жамнов
						.roster
							.role
								.small Голкиперы
							| Василий Кошечкин, Илья Сорокин, Игорь Шестеркин
							.role
								.small Защитники
							| Артем Зуб, Владислав Гавриков, Вячеслав Войнов, Андрей Зубарев, Егор Яковлев, Алексей Марченко, Богдан Киселевич, Никита Нестеров
						.roster 
							.role
								.small Нападающие
							| Иван Телегин, Сергей Мозякин, Сергей Андронов, Павел Дацюк (к), Сергей Калинин, Михаил Григоренко, Илья Каблуков, Сергей Широков, Илья Ковальчук, Николай Прохоркин, Кирилл Капризов, Вадим Шипачев, Александр Барабанов, Никита Гусев
					h3.mb-s Результаты игр	
					.game.mb-s
						.date 14.02
						.match
							span.small.flag-icon.flag-icon-sk
							| &nbsp;
							span Словакия
							| &nbsp;—&nbsp;
							span.small.flag-icon.flag-icon-ru
							| &nbsp;
							span Россия
						.score
							| 3:
							.defeat 2
						.goals
							.player Гавриков
							.time &nbsp;(2', 0:1),
							.player Капризов
							.time &nbsp;(4', 0:2)
					.game.mb-s
						.date 16.02
						.match 
							span.small.flag-icon.flag-icon-ru
							| &nbsp;
							span Россия
							| &nbsp;—&nbsp;
							span.small.flag-icon.flag-icon-si
							| &nbsp;
							span Словения
						.score
							.victory 8
							| :2
						.goals
							.player Мозякин
							.time &nbsp;(18', 1:0 Б),
							.player Ковальчук
							.time &nbsp;(18', 2:0),
							.player Барабанов
							.time &nbsp;(26', 3:0 Б),
							.player Каблуков
							.time &nbsp;(28', 4:0),
							.player Капризов
							.time &nbsp;(30', 5:0),
							.player Ковальчук
							.time &nbsp;(37', 6:1),
							.player Капризов
							.time &nbsp;(41', 7:1),
							.player Капризов
							.time &nbsp;(47', 8:1)
					.game.mb-s
						.date 17.02
						.match
							span.small.flag-icon.flag-icon-ru
							| &nbsp;
							span Россия
							| &nbsp;—&nbsp;
							span.small.flag-icon.flag-icon-us
							| &nbsp;
							span США
						.score
							.victory 4
							| :0
						.goals
							.player Прохоркин
							.time &nbsp;(7', 1:0),
							.player Прохоркин
							.time &nbsp;(22', 2:0),
							.player Ковальчук
							.time &nbsp;(39', 3:0),
							.player Ковальчук
							.time &nbsp;(40', 4:0)
					.game.mb-s
						.date 21.02, 1/4
						.match
							span.small.flag-icon.flag-icon-ru
							| &nbsp;
							span Россия
							| &nbsp;—&nbsp;
							span.small.flag-icon.flag-icon-no
							| &nbsp;
							span Норвегия
						.score
							.victory 6
							| :1
						.goals
							.player Григоренко
							.time &nbsp;(8', 1:0),
							.player Гусев
							.time &nbsp;(13', 2:0 Б),
							.player Войнов
							.time &nbsp;(19', 3:0),
							.player Калинин
							.time &nbsp;(28', 4:1),
							.player Нестеров
							.time &nbsp;(33', 5:1),
							.player Телегин
							.time &nbsp;(53', 6:1)
					.game.mb-s
						.date 23.02, 1/2
						.match
							span.small.flag-icon.flag-icon-cz
							| &nbsp;
							span Чехия
							| &nbsp;—&nbsp;
							span.small.flag-icon.flag-icon-ru
							| &nbsp;
							span Россия
						.score
							.victory 0
							| :3
						.goals
							.player Гусев
							.time &nbsp;(27', 0:1),
							.player Гавриков
							.time &nbsp;(28', 0:2),
							.player Ковальчук
							.time &nbsp;(59', 0:3)
					.game
						.date 25.02, финал
						.match
							span.small.flag-icon.flag-icon-ru
							| &nbsp;
							span Россия
							| &nbsp;—&nbsp;
							span.small.flag-icon.flag-icon-de
							| &nbsp;
							span Германия
						.score
							.victory 4
							| :3 (ОТ)
						.goals
							.player Войнов
							.time &nbsp;(19', 1:0),
							.player Гусев
							.time &nbsp;(53', 2:1),
							.player Гусев
							.time &nbsp;(59', 3:3 М),
							.player Капризов
							.time &nbsp;(69',4:3)
			hr.mb-m
			.l-row.year(id="2017")
				h2.year.mb-m 2017, Чемпионат мира в Кельне и Париже
			hr.mb-m
			.l-row.year(id="2016")
				h2.year.mb-m 2016, Чемпионат мира в Москве и Санкт-Петербурге
			hr.mb-m
			.l-row.year(id="2015")
				h2.year.mb-m 2015, Чемпионат мира в Праге и Остраве
			hr.mb-m
			.l-row.year(id="2014")
				h2.year.mb-m 2015, Олимпийские игры в Сочи
				hr.mb-m
				h2.year.mb-m 2014, Чемпионат мира в Минске
			hr.mb-m
			.l-row.year(id="2013")
				h2.year.mb-m 2013, Чемпионат мира в Стокгольме и Хельсинки
			hr.mb-m
			.l-row.year(id="2012")
				h2.year.mb-m 2012, Чемпионат мира Хельсенки и Стокгольме
			hr.mb-m
			.l-row.year(id="2011")
				h2.year.mb-m 2011, Чемпионат мира в Братиславе
			hr.mb-m
			.l-row.year(id="2010")
				h2.year.mb-m 2010, Олимпийские игры в Ванкувере
			hr.mb-m
			.l-row.year
				h2.year.mb-m 2010, Чемпионат мира Кельне
			hr.mb-m
			.l-row.year(id="2009")
				h2.year.mb-m 2009, Чемпионат мира в Берне
			hr.mb-m
			.l-row.year(id="2008")
				h2.year.mb-m 2008, Чемпионат мира в Квебеке
		hr.mb-xl