html
	head
		include ./templates/head
	body
		.cover
			h1
				| Национальная сборная
				.highlight-blue &nbsp;России&nbsp;
				|
				.highlight-red по хоккею
			p 2008—2018
		//- .container
			hr.mb-xl
			.menu.js-menu-fixed
				ul.years-list
					li
						a(href="#2014OI") 2014 (ОИ)
					li
						a(href="#2014") 2014 (ОИ)
					li
						a(href="#2015") 2015 (ОИ)
					li
						a(href="#2016") 2016 (ОИ)
					li
						a(href="#2017") 2017 (ОИ)
					li
						a(href="#2018OI") 2018 (ОИ)
				hr.bold.mb-s
			.l-row.mb-m
				.l-col-year
					.year.mb-s(id="2014OI") 2014 (ОИ)
				.l-col-items
					p Олимпийские игры в Сочи
			hr.mt-s.mb-s
			.l-row.mb-m
				.l-col-year
					.year.mb-s(id="2014") 2014
				.l-col-items
					p Чемпионат мира в Минске
			
			.l-row.mb-m
				.l-col-year
					.year.mb-s(id="2015") 2015
				.l-col-items
					p Чемпионат мира в Праге и Остраве
			
			.l-row.mb-m
				.l-col-year
					.year.mb-s(id="2016") 2016
				.l-col-items
					p Чемпионат мира в Москве и Санкт-Петербурге
			
			.l-row.mb-m
				.l-col-year
					.year.mb-s(id="2017") 2017
				.l-col-items
					p Чемпионат мира в Кельне и Париже
			
			.l-row.mb-m
				.l-col-year
					.year.mb-s(id="2018OI") 2018 (ОИ)
				.l-col-items
					p Олимпийские игры в Пхенчане
			hr.mb-xl
