http://stats.iihf.com/index2019i.html
https://stats.iihf.com/Hydra/690/index.html

https://stats.iihf.com/Hydra/690 - 2019 год
http://stats.iihf.com/Hydra/747/ -- 2020 год
https://stats.iihf.com/Hydra/748/ - 2021 год

https://stats.iihf.com/Hydra/690/IHM690000_FINAL_RANKING_1_0.pdf -- ?
