// флаги

.flag-icon-background {
  background-size: contain;
  background-position: 50%;
  background-repeat: no-repeat;
}
.flag-icon {
  background-size: contain;
  background-position: 50%;
  background-repeat: no-repeat;
  position: relative;
  display: inline-block;
  width: 1.33333333em;
  line-height: 1em;
}
.flag-icon:before {
  content: "\00a0";
}

.flag-icon-ru {
  background-image: url(../assets/svg/ru.svg);
}

.flag-icon-at {
  background-image: url(../assets/svg/at.svg);
}

.flag-icon-by {
  background-image: url(../assets/svg/by.svg);
}

.flag-icon-ca {
  background-image: url(../assets/svg/ca.svg);
}

.flag-icon-ch {
  background-image: url(../assets/svg/ch.svg);
}

.flag-icon-cz {
  background-image: url(../assets/svg/cz.svg);
}

.flag-icon-de {
  background-image: url(../assets/svg/de.svg);
}

.flag-icon-dk {
  background-image: url(../assets/svg/dk.svg);
}

.flag-icon-fi {
  background-image: url(../assets/svg/fi.svg);
}

.flag-icon-fr {
  background-image: url(../assets/svg/fr.svg);
}

.flag-icon-it {
  background-image: url(../assets/svg/it.svg);
}

.flag-icon-kz {
  background-image: url(../assets/svg/kz.svg);
}

.flag-icon-lv {
  background-image: url(../assets/svg/lv.svg);
}

.flag-icon-no {
  background-image: url(../assets/svg/no.svg);
}

.flag-icon-se {
  background-image: url(../assets/svg/se.svg);
}

.flag-icon-si {
  background-image: url(../assets/svg/si.svg);
}

.flag-icon-sk {
  background-image: url(../assets/svg/sk.svg);
}

.flag-icon-us {
  background-image: url(../assets/svg/us.svg);
}