$modules = {
    'xxs':4,
    'xs':8,
    's':12,
    'm':24,
    'l':36,
    'xl':48,
    'xxl':72,
    // additional
    'sl':16,
    'sm':20
}

for key, value in $modules
    
    // ширина, высота
    .w-{key}
        width unit(value, 'px')
    .h-{key}
        height unit(value, 'px')

    // марджины
    .m-{key}
        margin unit(value, 'px')
    .mb-{key}
        margin-bottom unit(value, 'px')
    .mt-{key}
        margin-top unit(value, 'px')
        @media all and (max-width 360px)
            margin-top unit(0, 'px')
    .ml-{key}
        margin-left unit(value, 'px')
    .mr-{key}
        margin-right unit(value, 'px')
        @media all and (max-width 360px)
            margin-right unit(0, 'px')

    // паддинги 
    .p-{key}
        padding unit(value, 'px')
    .pb-{key}
        padding-bottom unit(value, 'px')
    .pt-{key}
        padding-top unit(value, 'px')
    .pl-{key}
        padding-left unit(value, 'px')
    .pr-{key}
        padding-right unit(value, 'px')
    .plr-{key}
        padding-left unit(value, 'px')
        padding-right unit(value, 'px')

    
    