// ресет, нормалайз

@import '../../node_modules/stylus-normalize/normalize'

// основные стили

*
 margin 0
 box-sizing border-box

body
	background-color #f6f6f6

// модули, марджины, паддинги, сетка

@import 'components/modules.styl'
@import 'components/grid.styl'


// типографика

header-font = 'PT Sans', sans-serif
header-weight = 700

text-font = 'PT Sans', sans-serif
text-weight = 400

text-size = 20px
text-lineheight = 32px

a
	font text-size/text-lineheight
	color #2364AA
	text-decoration none
	
	&:hover
		color red
	&:visited
	  color desaturate(#2364AA, 60%)
	  &:hover
	    color red
	&.white
		color #f1efea
		font text-weight text-size*0.6/text-lineheight*0.6 header-font



h1
	text-align center
	font header-weight text-size*3/text-lineheight*3 header-font
	@media all and (max-width 600px)
		font header-weight text-size*1.2/text-lineheight header-font
	@media all and (max-width 360px)
		font header-weight text-size*1.2/text-lineheight header-font

h2
	font header-weight text-size*1.1/text-lineheight header-font

h3
	font header-weight text-size*0.7/text-lineheight*0.7 header-font
	text-transform uppercase
	letter-spacing 2px

p
	color #333
	font text-weight text-size/text-lineheight text-font

.note
	display inline
	color lighten(#333, 20%)
	font text-weight text-size*0.6/text-lineheight*0.73 header-font
		
.lead
	font italic text-weight text-size*1.2/text-lineheight*1.2 text-font
	font-weight text-weight
	font-style italic
	@media all and (max-width 360px)
		font italic text-size/text-lineheight text-font

.small
	// color #666
	font text-weight text-size*0.6/text-lineheight header-font

ul, ol
	color #333
	font text-weight text-size/text-lineheight text-font
	margin 0
		

// вспомогательные блоки

.cover
	height 80%;
	display flex
	flex-direction column
	justify-content center
	align-items center
	padding 0 24px
	background-image: url(../assets/img/cover.jpg);
	background-size cover

.toner-layer
	background-color rgba(0,0,0,0.5)
	position absolute
	top 0
	left 0
	width 100%
	height 80%
	
.footer
	font text-weight text-size*0.7/text-lineheight*0.73 header-font
 
// .media-block
// 	display flex
// 	flex-direction row
// 	align-items flex-start
// 	@media all and (max-width 360px)
// 		flex-direction column

// .media-object
// 	flex 1 1 auto

// .media-text
// 	flex 1 1 auto

// .portrait
// 	width 80px
// 	border-radius 40px

hr
	border 0px
	height 1px;
	background rgba(204,204,204,0.5);
	margin 0
	&.bold
		height 3px;
		background rgba(0,0,0,1);

// флаги

@import 'components/icons.styl'


// оформление данных

.game, .date, .match, .score, .defeat, .stats, .player, .goalkeeper
	display flex
	flex 0 1 auto
	@media all and (max-width 640px)
		flex-direction column
	
.date
	flex 0 1 10%
	font text-weight text-size*0.7/text-lineheight header-font

.match
	flex 0 1 25%
	@media all and (max-width 640px)
		flex-direction row
	align-items baseline
	font text-weight text-size/text-lineheight text-font
	
.score
	flex 0 1 10%
	cursor help
	@media all and (max-width 640px)
		flex-direction row
	font text-weight text-size/text-lineheight text-font
	
.stats
	flex 0 1 55%
	flex-direction row
	-webkit-flex-wrap wrap
	-ms-flex-wrap wrap
	flex-wrap wrap
	font text-weight text-size*0.8/text-lineheight header-font
	align-items baseline

.goal, .saves, .periods
	padding-right 4px
	font text-weight text-size*0.6/text-lineheight header-font

.team
	display flex
	flex 0 1 auto
	@media all and (max-width 640px)
		flex-direction column
	font text-weight text-size*0.8/text-lineheight*0.8 header-font

.roster
	flex 1 1 25%
	padding-right 24px
	span
		cursor help

// цвета

.white
	color #fff

.cover .white
	z-index 1000
	opacity 0.8

.highlight-blue
	background-color #0039A6
	color #fff

.highlight-red
	background-color #D52B1E
	color #fff

.victory
	color green
	
.defeat
	color red

.gold
	color #ffd23f

.silver
	color #aaa

.bronze
	color #f6ba80
	

// menu-styles

.js-menu-fixed
	position fixed
	z-index 1000
	width 100%
	top 0px
	padding 10px
	text-align center
	background-color #fff
	@media all and (max-width 640px)
		position relative
	
	
.years-list
	list-style none
	margin-left -20px
	display flex
	flex-direction row
	justify-content space-between
	flex-wrap wrap
	@media all and (max-width 960px)
		justify-content flex-start
	li
		a
			color #000
			text-decoration none
			margin-right 20px
			&:hover
				color red